@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AoDPedia</h1>
    <h3 class="font-italic">A rules reference to Age of Darkness</h3>
</div>
<content class="text-center align-content-center">
    <p>Popular pages:</p>
    <ul>
        <li><a href="#"></a></li>
    </ul>
</content>